<a href="https://colab.research.google.com/github/kumarirakhi19/SQL-2-FOODIE-Fi-/blob/main/Foodie_Fi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install pymysql
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.pool import NullPool
def mysql(query:'Write the query here .'):
    '''
    This function fetches data from database and returns the result.
    '''
    try:
        engine_db = create_engine('mysql+pymysql://almafolk:8l39zk60q@learning-activity.cejogcrmn6il.ap-south-1.rds.amazonaws.com:3306/assignment', poolclass=NullPool )
        conn = engine_db.connect()
        # Reading Data
        df = pd.read_sql_query(query, conn)

        #if your connection object is named conn
        if not conn.closed:
            conn.close()
        engine_db.dispose()
        return df
    except Exception as e:
        print(e)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.7 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

**Introduction**

Subscription based businesses are super popular and Danny realised that there was a large gap in the market - he wanted to create a new streaming service that only had food related content - something like Netflix but with only cooking shows!

Danny finds a few smart friends to launch his new startup Foodie-Fi in 2020 and started selling monthly and annual subscriptions, giving their customers unlimited on-demand access to exclusive food videos from around the world!

Danny created Foodie-Fi with a data driven mindset and wanted to ensure all future investment decisions and new features were decided using data. This case study focuses on using subscription style digital data to answer important business questions.

Available Data
Danny has shared the data design for Foodie-Fi and also short descriptions on each of the database tables - our case study focuses on only 2 tables but there will be a challenge to create a new table for the Foodie-Fi team.

All datasets exist within the foodie_fi database schema - be sure to include this reference within your SQL scripts as you start exploring the data and answering the case study questions.



Table 1: plans
Customers can choose which plans to join Foodie-Fi when they first sign up.

Basic plan customers have limited access and can only stream their videos and is only available monthly at $9.90

Pro plan customers have no watch time limits and are able to download videos for offline viewing. Pro plans start at 19.90 USD a month or 199 USD for an annual subscription.

Customers can sign up to an initial 7 day free trial will automatically continue with the pro monthly subscription plan unless they cancel, downgrade to basic or upgrade to an annual pro plan at any point during the trial.

When customers cancel their Foodie-Fi service - they will have a churn plan record with a null price but their plan will continue until the end of the billing period.

Table 2: subscriptions
Customer subscriptions show the exact date where their specific plan_id starts.

If customers downgrade from a pro plan or cancel their subscription - the higher plan will remain in place until the period is over - the start_date in the subscriptions table will reflect the date that the actual plan changes.

When customers upgrade their account from a basic plan to a pro or annual pro plan - the higher plan will take effect straightaway.

When customers churn - they will keep their access until the end of their current billing period but the start_date will be technically the day they decided to cancel their service.

# **Case Study Questions**

## 1. How many customers has Foodie-Fi ever had?

**Expected Output:**

![image.png]()

In [12]:
mysql('''SELECT 
  COUNT(DISTINCT customer_id) AS unique_customer
FROM subscriptions;''')

   unique_customer
0             1000

## 2. What is the monthly distribution of trial plan start_date values for our dataset ?

## Use the start of the month as the group by value.

**Expected Output:**

![image.png]()

In [13]:
mysql('''SELECT
  MONTH(start_date) AS month_date, 
  MONTHNAME(start_date) AS month_name,
  COUNT(*) AS trial_subscriptions
FROM subscriptions as s
JOIN plans as p
  ON s.plan_id = p.plan_id
WHERE s.plan_id = 0
GROUP BY MONTH(start_date), 
  MONTHNAME(start_date)
ORDER BY month_date;''')

    month_date month_name  trial_subscriptions
0            1    January                   88
1            2   February                   68
2            3      March                   94
3            4      April                   81
4            5        May                   88
5            6       June                   79
6            7       July                   89
7            8     August                   88
8            9  September                   87
9           10    October                   79
10          11   November                   75
11          12   December                   84

## 3. What plan start_date values occur after the year 2020 for our dataset? 
## Show the breakdown by count of events for each plan_name.

**Expected Output:**

![image.png]()

In [14]:
mysql('''SELECT 
  p.plan_id,
  p.plan_name,
  COUNT(*) AS events
FROM subscriptions s
JOIN plans p
  ON s.plan_id = p.plan_id
WHERE s.start_date >= '2021-01-01'
GROUP BY p.plan_id, p.plan_name
ORDER BY p.plan_id;''')

   plan_id      plan_name  events
0        1  basic monthly       8
1        2    pro monthly      60
2        3     pro annual      63
3        4          churn      71

## 4. What is the customer count and percentage of customers who have churned rounded to 1 decimal place?

**Expected Output:**

![image.png]()

In [15]:
mysql('''SELECT 
  COUNT(*) AS churn_count,
  ROUND(100 * COUNT(*) / (
    SELECT COUNT(DISTINCT customer_id) 
    FROM subscriptions),1) AS churn_percentage
FROM subscriptions s
JOIN plans p
  ON s.plan_id = p.plan_id
WHERE s.plan_id = 4;''')

   churn_count  churn_percentage
0          307              30.7

## 5. How many customers have churned straight after their initial free trial - what percentage is this rounded to the nearest whole number?

**Expected Output:**

![image.png]()

In [16]:
mysql('''WITH ranking AS (
SELECT 
  s.customer_id, 
  s.plan_id, 
  p.plan_name,
  ROW_NUMBER() OVER (
    PARTITION BY s.customer_id 
    ORDER BY s.plan_id) AS plan_rank 
FROM subscriptions s
JOIN plans p
  ON s.plan_id = p.plan_id)
  
SELECT 
  COUNT(*) AS churn_count,
  ROUND(100 * COUNT(*) / (
    SELECT COUNT(DISTINCT customer_id) 
    FROM subscriptions),0) AS churn_percentage
FROM ranking
WHERE plan_id = 4 
  AND plan_rank = 2 ''')

   churn_count  churn_percentage
0           92               9.0

## 6. What is the number and percentage of customer plans after their initial free trial?

**Expected Output:**

![image.png]()

In [17]:
mysql('''WITH next_plan_cte AS (
SELECT 
  customer_id, 
  plan_id, 
  LEAD(plan_id, 1) OVER(
    PARTITION BY customer_id 
    ORDER BY plan_id) as next_plan
FROM subscriptions)

SELECT 
  next_plan, 
  COUNT(*) AS conversions,
  ROUND(100 * COUNT(*) / (
    SELECT COUNT(DISTINCT customer_id) 
    FROM subscriptions),1) AS conversion_percentage
FROM next_plan_cte
WHERE next_plan IS NOT NULL 
  AND plan_id = 0
GROUP BY next_plan
ORDER BY next_plan;''')

   next_plan  conversions  conversion_percentage
0          1          546                   54.6
1          2          325                   32.5
2          3           37                    3.7
3          4           92                    9.2

## 7. How many customers have upgraded to an annual plan in 2020?

**Expected Output:**

![image.png]()

In [18]:
mysql('''SELECT 
  COUNT(DISTINCT customer_id) AS unique_customer
FROM subscriptions
WHERE plan_id = 3
  AND start_date <= '2020-12-31';''')

   unique_customer
0              195

## 8. How many days on average does it take for a customer to an annual plan from the day they join Foodie-Fi?

**Expected Output:**

![image.png]()

In [19]:
mysql('''WITH trial_plan AS 
(SELECT 
  customer_id, 
  start_date AS trial_date
FROM subscriptions
WHERE plan_id = 0
),
annual_plan AS
(SELECT 
  customer_id, 
  start_date AS annual_date
FROM subscriptions
WHERE plan_id = 3
)

SELECT 
  ROUND(AVG(DATEDIFF(annual_date , trial_date)),0) AS avg_days_to_upgrade
FROM trial_plan tp
JOIN annual_plan ap
  ON tp.customer_id = ap.customer_id;''')

   avg_days_to_upgrade
0                105.0

## 9. What is the customer count and percentage breakdown of all 5 plan_name values at 2020-12-31?

**Expected Output:**

![image.png]()

In [20]:
mysql('''WITH next_plan AS(
SELECT 
  customer_id, 
  plan_id, 
  start_date,
  LEAD(start_date, 1) OVER(PARTITION BY customer_id ORDER BY start_date) as next_date
FROM subscriptions
WHERE start_date <= '2020-12-31'),
customer_breakdown AS (
  SELECT plan_id, COUNT(DISTINCT customer_id) AS customers
    FROM next_plan
    WHERE (next_date IS NOT NULL AND (start_date < '2020-12-31' AND next_date > '2020-12-31'))
      OR (next_date IS NULL AND start_date < '2020-12-31')
    GROUP BY plan_id)

SELECT plan_id, customers, 
  ROUND(100 * customers / (
    SELECT COUNT(DISTINCT customer_id) 
    FROM subscriptions),1) AS percentage
FROM customer_breakdown
GROUP BY plan_id, customers
ORDER BY plan_id''')

   plan_id  customers  percentage
0        0         19         1.9
1        1        224        22.4
2        2        326        32.6
3        3        195        19.5
4        4        235        23.5